In [1]:
import mysql.connector as connection
conn = connection.connect(host="localhost",user ="root",passwd="#123Ayushi",use_pure=True)
curr = conn.cursor()
curr.execute("show databases")
curr.fetchall()

[('car',),
 ('employee_table',),
 ('homework',),
 ('iiht',),
 ('information_schema',),
 ('mysql',),
 ('performance_schema',),
 ('sql_assignment',),
 ('student',),
 ('sys',)]

In [2]:
curr.execute("drop database SQL_Assignment")
curr.execute("create database SQL_Assignment")
curr.execute("show databases")
curr.fetchall()

[('car',),
 ('employee_table',),
 ('homework',),
 ('iiht',),
 ('information_schema',),
 ('mysql',),
 ('performance_schema',),
 ('sql_assignment',),
 ('student',),
 ('sys',)]

In [3]:
conn = connection.connect(host="localhost",database = "sql_assignment",user ="root",passwd="#123Ayushi",use_pure=True)
curr=conn.cursor()
curr.execute("create table worker(first_name varchar(11),last_name varchar(11),worker_id int(11), address varchar(20),department varchar(11),salary int(11),email varchar(20),dt date)")

In [4]:
curr.execute("insert into worker values('Nelesh','Gupta',1,'vefbbrbwefb','IT',12000,'nil1@gmail.com','2021-06-12'), ('Ayushi   ','Krishna',2,'gvdb','DA',20000,'ayu12@gmail.com','2016-04-22'),('vrinda','sharma',3,'sgdfb','DE',2000,'vinu4@gmail.com','2013-10-10'),('veenita','goel',4,'ags','HR',134500,'vee7@gmsil.com','2014-02-11'),('sandeep','goel',5,'ags','HR',56788,'ss66@gmail.com','2020-03-11'),('Satish','sharma',6,'sgdfb','DE',245800,'sats23@gmail.com','2011-07-09'),('vipul','Garg',7,'vefbbrbwefb','IT',14000,'vip123@gmail.com','2018-09-21')")

In [5]:
conn.commit()
curr.execute("select * from worker")

In [6]:
curr.fetchall()

[('Nelesh',
  'Gupta',
  1,
  'vefbbrbwefb',
  'IT',
  12000,
  'nil1@gmail.com',
  datetime.date(2021, 6, 12)),
 ('Ayushi   ',
  'Krishna',
  2,
  'gvdb',
  'DA',
  20000,
  'ayu12@gmail.com',
  datetime.date(2016, 4, 22)),
 ('vrinda',
  'sharma',
  3,
  'sgdfb',
  'DE',
  2000,
  'vinu4@gmail.com',
  datetime.date(2013, 10, 10)),
 ('veenita',
  'goel',
  4,
  'ags',
  'HR',
  134500,
  'vee7@gmsil.com',
  datetime.date(2014, 2, 11)),
 ('sandeep',
  'goel',
  5,
  'ags',
  'HR',
  56788,
  'ss66@gmail.com',
  datetime.date(2020, 3, 11)),
 ('Satish',
  'sharma',
  6,
  'sgdfb',
  'DE',
  245800,
  'sats23@gmail.com',
  datetime.date(2011, 7, 9)),
 ('vipul',
  'Garg',
  7,
  'vefbbrbwefb',
  'IT',
  14000,
  'vip123@gmail.com',
  datetime.date(2018, 9, 21))]

In [15]:
#1
curr.execute("select distinct(department),length(department) from worker")
curr.fetchall()

[('IT', 2), ('DA', 2), ('DE', 2), ('HR', 2)]

In [9]:
#2 
curr.execute("select rtrim(first_name) from worker")
curr.fetchall()

[('Nelesh',),
 ('Ayushi',),
 ('vrinda',),
 ('veenita',),
 ('sandeep',),
 ('Satish',),
 ('vipul',)]

In [10]:
#3
curr.execute("select salary from worker w1 where 3 = (select count(distinct(salary)) from worker w2 where w1.salary <w2.salary)")
curr.fetchall()

[(20000,)]