In [2]:
import mysql.connector as connection
conn = connection.connect(host="localhost",user ="root",passwd="#123Ayushi",use_pure=True)
curr = conn.cursor()
curr.execute("show databases")
curr.fetchall()

[('employee_table',),
 ('homework',),
 ('iiht',),
 ('information_schema',),
 ('mysql',),
 ('performance_schema',),
 ('sql_assignment',),
 ('student',),
 ('sys',)]

In [3]:
curr.execute("drop database SQL_Assignment")
curr.execute("create database SQL_Assignment")
curr.execute("show databases")
curr.fetchall()

[('employee_table',),
 ('homework',),
 ('iiht',),
 ('information_schema',),
 ('mysql',),
 ('performance_schema',),
 ('sql_assignment',),
 ('student',),
 ('sys',)]

In [4]:
conn = connection.connect(host="localhost",database = "sql_assignment",user ="root",passwd="#123Ayushi",use_pure=True)
curr=conn.cursor()
curr.execute("create table worker(first_name varchar(11),last_name varchar(11),worker_id int(11), address varchar(20),department varchar(11),salary int(11),email varchar(20),dt date)")

In [5]:
curr.execute("insert into worker values('Nelesh','Gupta',1,'vefbbrbwefb','IT',12000,'nil1@gmail.com','2021-06-12'), ('Ayushi   ','Krishna',2,'gvdb','DA',20000,'ayu12@gmail.com','2016-04-22'),('vrinda','sharma',3,'sgdfb','DE',2000,'vinu4@gmail.com','2013-10-10'),('veenita','goel',4,'ags','HR',134500,'vee7@gmsil.com','2014-02-11'),('sandeep','goel',5,'ags','HR',56788,'ss66@gmail.com','2020-03-11'),('Satish','sharma',6,'sgdfb','DE',245800,'sats23@gmail.com','2011-07-09'),('vipul','Garg',7,'vefbbrbwefb','IT',14000,'vip123@gmail.com','2018-09-21')")

In [12]:
conn.commit()
curr.execute("select * from worker")

In [13]:
curr.fetchall()

[('Nelesh',
  'Gupta',
  1,
  'vefbbrbwefb',
  'IT',
  12000,
  'nil1@gmail.com',
  datetime.date(2021, 6, 12)),
 ('Ayushi   ',
  'Krishna',
  2,
  'gvdb',
  'DA',
  20000,
  'ayu12@gmail.com',
  datetime.date(2016, 4, 22)),
 ('vrinda',
  'sharma',
  3,
  'sgdfb',
  'DE',
  2000,
  'vinu4@gmail.com',
  datetime.date(2013, 10, 10)),
 ('veenita',
  'goel',
  4,
  'ags',
  'HR',
  134500,
  'vee7@gmsil.com',
  datetime.date(2014, 2, 11)),
 ('sandeep',
  'goel',
  5,
  'ags',
  'HR',
  56788,
  'ss66@gmail.com',
  datetime.date(2020, 3, 11)),
 ('Satish',
  'sharma',
  6,
  'sgdfb',
  'DE',
  245800,
  'sats23@gmail.com',
  datetime.date(2011, 7, 9)),
 ('vipul',
  'Garg',
  7,
  'vefbbrbwefb',
  'IT',
  14000,
  'vip123@gmail.com',
  datetime.date(2018, 9, 21))]

In [19]:
#1
curr.execute("select repalce('first_name','a','A') from worker")
curr.fetchall()

ProgrammingError: 1305 (42000): FUNCTION sql_assignment.repalce does not exist

In [15]:
#2 there is no one name as amitabh
curr.execute("select * from worker order by first_name ASC, department DESC")
curr.fetchall()

[('Ayushi   ',
  'Krishna',
  2,
  'gvdb',
  'DA',
  20000,
  'ayu12@gmail.com',
  datetime.date(2016, 4, 22)),
 ('Nelesh',
  'Gupta',
  1,
  'vefbbrbwefb',
  'IT',
  12000,
  'nil1@gmail.com',
  datetime.date(2021, 6, 12)),
 ('sandeep',
  'goel',
  5,
  'ags',
  'HR',
  56788,
  'ss66@gmail.com',
  datetime.date(2020, 3, 11)),
 ('Satish',
  'sharma',
  6,
  'sgdfb',
  'DE',
  245800,
  'sats23@gmail.com',
  datetime.date(2011, 7, 9)),
 ('veenita',
  'goel',
  4,
  'ags',
  'HR',
  134500,
  'vee7@gmsil.com',
  datetime.date(2014, 2, 11)),
 ('vipul',
  'Garg',
  7,
  'vefbbrbwefb',
  'IT',
  14000,
  'vip123@gmail.com',
  datetime.date(2018, 9, 21)),
 ('vrinda',
  'sharma',
  3,
  'sgdfb',
  'DE',
  2000,
  'vinu4@gmail.com',
  datetime.date(2013, 10, 10))]

In [17]:
#3
curr.execute("select concat(first_name,last_name),max(salary),department from worker group by department")
curr.fetchall()

[('NeleshGupta', 14000, 'IT'),
 ('Ayushi   Krishna', 20000, 'DA'),
 ('vrindasharma', 245800, 'DE'),
 ('veenitagoel', 134500, 'HR')]